/** CSS STYLE **/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  }
 
  @font-face {
    font-family: "Neucha";
    src: url("../fonts/Neucha/Neucha-Regular.ttf");
  }

  p {
    font-size: 16px;
    font-family: "Open Sans";
    line-height: 1.6 em;
    color: #2A2626;
  }

  h1,
  h2,
  h3 {
    line-height: 1.2em;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 34px;
  }

  /** Colours **/

:root {
    --white: #fff;
    --translucent_white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main_dark: #42413c;
    --dark: #2a2626;
    --translucent_dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

.section {
  width: 100%;
  max-width: 1100px;
  margin-top: 100px;
  margin-bottom: 100px;
}
