/* stylelint-disable order/properties-order */
/** CSS STYLE **/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  }

  @font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  }

 
  @font-face {
    font-family: "Neucha";
    src: url("../fonts/Neucha/Neucha-Regular.ttf");
  }
  

  p {
    font-size: 16px;
    font-family: "Open Sans";
    color: #2A2626;
    line-height: 26px;
  }

  h1,
  h2,
  h3 {
    line-height: 1.2em;
  }

  h1 {
    position: absolute;
    left: 165px;
    top: 100px;
    font-family: "Neucha";
    font-size: 72px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 34px;
  }

  /** Colours **/

:root {
    --white: #fff;
    --translucent_white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main_dark: #42413c;
    --dark: #2a2626;
    --translucent_dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

/**HEADER**/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 914px;
  width: 1440px;
  overflow: hidden;
}

.header::before {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  content: "";
}

.orange-heading {
  color: var(--main);
}

.black-heading {
  top: 285px;
  color: var(--dark)
}

.header_img {
  position: relative;
  height: 525px;
  top: 55px;
  left: 461px;
}

.columns-2 {
  column-count: 2;
  margin-left: 165px;
  margin-top: 26px;
}

.header-column1 {
  position: relative;
  margin-top: 0;
  width: 540px;
}

.header-column2 {
  position: relative;
  width: 540px;
}

.link-further {
  position: absolute;
  background-color: var(--main);
  color: var(--light);
  padding: 12px 24px;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  left: 723px;
  top: 765px;
}

/**SECTION_1**/

.section_first {
  position: relative;
  display: flex;
  height: 914px;
  width: 1440px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(var(--white) 814px, var(--main_dark) 814px, var(--main_dark) 914px);
}

.section_first_heading {
  font-family: "Neucha";
  color: var(--dark);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

.section_first_heading_orange {
  display: block;
  font-family: "Neucha";
  color: var(--main);
}

.section_first_paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/**SECTION_2**/

.section_second {
  position: relative;
  display: flex;
  height: 891px;
  width: 1440px;
  background: var(--main_dark);
}

.section_second_heading {
  display: flex;
  flex-direction: column;
  font-family: "Neucha";
  font-size: 52px;
  color: var(--main);
  line-height: 62.4px;
  margin-top: 100px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 165px;
}

.section_second_heading_white {
  color: var(--white);
}

.card {
  box-sizing: border-box;
  display: block;
  position: absolute;
  background-color: var(--white);
  padding: 24px;

}

.card_1 {
  height: 323px;
  width: 350px;
  margin-top: 100px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 545px;
}

.card_2 {
  height: 323px;
  width: 350px;
  margin-top: 100px;
  margin-right: 165px;
  margin-bottom: 20px;
  margin-left: 925px;
}

.card_3 {
  height: 348px;
  width: 350px;
  margin-top: 459px;
  margin-right: 30px;
  margin-bottom: 100px;
  margin-left: 165px;
}

.card_4 {
  height: 348px;
  width: 350px;
  margin-top: 459px;
  margin-right: 30px;
  margin-bottom: 100px;
  margin-left: 545px;
}

.card_5 {
  height: 348px;
  width: 350px;
  margin-top: 459px;
  margin-right: 165px;
  margin-bottom: 100px;
  margin-left: 925px;
}

.number {
  font-size: 64px;
  font-family: "Neucha";
  color: var(--main_dark);
  line-height: 1;
  padding-bottom: 40px;
  margin: 0;
}

.card_heading {
  font-family: "Neucha";
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--main);
}

.card_4_paragraph {
  margin-top: 12px;
}

/**SECTION_3**/

.section_third {
  position: relative;
  display: flex;
  height: 905px;
  width: 1440px;
}

.section_third::before {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  content: "";
}

.section_third_img {
  display: flex;
  position: absolute;
  height: 434px;
  width: 578px;
  margin-top: 100px;
  margin-right: 30px;
  margin-bottom: 100px;
  margin-left: 165px;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.text_ikea-effect {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 434px;
  width: 502px;
  margin-top: 100px;
  margin-right: 165px;
  margin-bottom: 100px;
  margin-left: 773px;
}

.section_third_subtitle {
  font-family: "Neucha";
  font-size: 24px;
  color: var(--translucent_dark);
  margin: 0px;
}

.section_third_heading {
  margin: 0px;
  font-family: "Neucha";
  color: var(--dark);
}

.section_third_text {
  font-family: "Neucha";
  font-size: 34px;
  margin-top: 30px;
  line-height: 41px;
}

.heading_how_work {
  box-sizing: border-box;
  position: absolute;
  margin-top: 634px;
  margin-left: 165px;
  padding-left: 10px;
  width: 1110px;
  height: 26px;
  font-family: "Open Sans";
  font-weight: 700;
  color: var(--white);

  background-color: var(--brown);

}

.text_how_work {
  width: 1110px;
  display: flex;
  position: absolute;
  margin-top: 680px;
  margin-left: 165px;
  margin-right: 165px;
}

.how_work_paragraph1 {
  width: 540px;
  height: 125px;
  margin-right: 30px;
}

.how_work_paragraph2 {
  width: 540px;
  height: 125px;
}